.Modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background: rgba(0, 0, 0, 0.3);
}

.ModalContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 400px;
	height: 200px;

	background: #fff;
}